{% load static %}
<!DOCTYPE html> {% load static %}
<html lang="en">

<head>
    <meta name="description" content="Landing page de una futura web destinada a personas con restricciones alimentarias."></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="{% static 'img/logo.png' %}" />
    <!-- Bootstrap CSS -->
    <style>
        @media (max-width: 450px) {
            .product-card-inner {
                padding: 0.5em !important ;
            }
        }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="{% static 'estilo/style.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oxygen">
</head>


<body>
    <div id="barprincipal" class="navbar">
        <b-navbar-brand href="/" style="margin-right: 0px !important;">
        <a href="/"><img id="menuNormal" class="imgheader" src="{% static 'img/logoheader.png' %}" style="display: inline;"></a>
        </b-navbar-brand>
    </div>

    <div class="container">
        <h3 class="text-center mt-5 mb-3 nombreProducto">Inicio de sesión</h3>
        <div class="row justify-content-center">
            <div class="col-md-9 col-lg-5">
                <form name="formCheckIn" enctype="multipart/form-data" method="POST" action="/authentication/login">{% csrf_token %}
                    <div class="product-card-inner">
                        <div class="row">
                            <div class="col">
                                <label>Nombre de usuario:&nbsp;</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div>{{form.username}} </div>
                                <div style="color: red;">{{ form.errors.username.as_text}}</div>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col">
                                <label>Contraseña:&nbsp;</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div> {{form.password}} </div>
                                <div style="color: red;">{{ form.errors.password.as_text}}</div>
                            </div>
                        </div>
                        {% for message in messages %}

                        <div class="alert alert-success">
                            <a class="close" href="#" data-dismiss="alert">×</a>
    
                            {{ message }}
    
                        </div>
                         {% endfor %}

                        <div class="row justify-content-center mt-5 mb-5">
                                <a class="btn col-sm-3 col-md-4 col-10  btn-danger" href="/">Cancelar</a>
                                <button type="submit" class="save mt-sm-0 mt-3 offset-0 offset-sm-3 col-md-4 col-10  col-sm-3 btn btn-warning">Iniciar sesión</button>
                        </div>
                    </div>
                
                </form>
            </div>
        </div>
    </div>
    <footer id="footer">
        <img class="imgfooter col-lg-3 col-md-4 col-sm-6 col-10" src="{% static 'img/footer.png' %}">
        <div class="container text-center">
            <p class="text-muted mb-0 py-2">© 2021 Eatsy All rights reserved.</p>
        </div>
    </footer>
</body>

</html>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js " integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1 " crossorigin="anonymous "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js " integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM " crossorigin="anonymous "></script>

