{% extends 'products/base.html' %} {% block titulo %}Perfil{% endblock %}

{% block contenido %}
<script>
    function verificar_pass() {
        let pass = document.getElementById("pass").value;
        let v_pass = document.getElementById("v_pass").value;
        if(pass!=v_pass) {
            alert("Las contraseñas no coinciden.")
            return false;
        } else {
            return  true;
        }
    }
</script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container">
    <h2 class="text-center mt-5 mb-4 nombreProducto">Mi Perfil</h2>
    <div class="row">
        <div class="col-3"></div>
        <div class=" col-6 product-card-inner " >
            <form name="formProfile" enctype="multipart/form-data" method="POST" action="/authentication/profile">{% csrf_token %}
                    <div class="product-card-inner">
                        <label class="mt-2 text-center w-100" style="color:red;">*Solo estos campos son obligatorios.</label>
                        
                        <div class="row">
                            <div class="col">
                                <label>Nombre <span style="color:red;">*</span>:&nbsp;</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div>{{ form.nombre}}</div>
                                <div style="color: red;">{{ form.errors.nombre.as_text}}</div>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col">
                                <label>Apellidos <span style="color:red;">*</span>:&nbsp;</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div>{{ form.apellidos}}</div>
                                <div style="color: red;">{{ form.errors.apellidos.as_text}}</div>    
                            </div>
                        </div>
 
                        <div class="row mt-2">
                            <div class="col">
                                <label>Dieta o intolerancia<span style="color:red;">*</span>:&nbsp;</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="col">{{form.dieta}}</div>
                                <div style="color: red;">{{ form.errors.dieta.as_text}}</div>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col">
                                <label>Cuenta ya activada <span style="color:red;">*</span>:&nbsp;</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div>{{ form.activada}}</div>
                                <div style="color: red;">{{ form.errors.activada.as_text}}</div>
                            </div>
                        </div>

                        <div class="row mt-5 mb-5">
                            <div class="col-auto m-auto" style="justify-content: center;">
                                <button type="submit" class="save btn btn-warning">Actualizar</button>
                            </div>
                        </div>
                    </div>
                </form>
            {% comment %} <!-- Datos personales -->
            <div class="row">
                <h3 class="text-center mt-2 mb-1 nombreProducto">&nbsp;&nbsp;&nbsp;Datos personales:</h3>
            </div>
            <div class="row mt-3">
                <div class="col-3">
                    <div class="titulito">&nbsp;&nbsp;&nbsp;Nombre:</div>&nbsp;
                </div>
                <div class="col-9">
                    <div> &nbsp;&nbsp;&nbsp;{{usuario.first_name}}</div>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <div class="titulito">&nbsp;&nbsp;&nbsp;Apellidos:</div>&nbsp;
                </div>
                <div class="col-9">
                    <div> &nbsp;&nbsp;&nbsp;{{usuario.last_name}}</div>
                </div>
            </div>
            <!-- Dietas -->
            <div class="row">
                <div class="col-3">
                    <div class="titulito">&nbsp;&nbsp;&nbsp;Dieta o intolerancia:</div>&nbsp;
                </div>
                <div class="col-9">
                    {% for dieta in perfil.dietas.all %}
                        <div> &nbsp;&nbsp;&nbsp;{{dieta.nombre}}&nbsp;&nbsp;</div>
                    {% endfor %}
                </div>
            </div>
            <!-- Activar cuenta -->
            <div class="row">
                <h3 class="text-center mt-5 mb-1 nombreProducto">&nbsp;&nbsp;&nbsp;Estado de la cuenta:</h3>
            </div>
            {% if user.is_active %}
            <div class="row mt-3">
                <div class="titulito">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cuenta ya activada</div>&nbsp;
            </div>
            {% endif %} {% endcomment %}
            <!-- Add otro if con un enlace para activar la cuenta -->
            


            </div>
        </div>
    </div>
</div>

{% endblock %}

