{% extends 'products/base.html' %} {% block titulo %}Perfil{% endblock %}

{% block contenido %}
<script>
    function verificar_pass() {
        let pass = document.getElementById("pass").value;
        let v_pass = document.getElementById("v_pass").value;
        if(pass!=v_pass) {
            alert("Las contraseñas no coinciden.")
            return false;
        } else {
            return  true;
        }
    }
</script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container">
    <h2 class="text-center mt-5 mb-3 nombreProducto">Mi Perfil</h2>
    <div class="row">
        <div class="col-3"></div>
        <div class=" col-6" >
            <form name="formProfile" enctype="multipart/form-data" method="POST" action="/authentication/profile">{% csrf_token %}
                <div class="product-card-inner">
                    <div class="row">
                        <div class="col">
                            <label>Nombre</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div>{{ form.nombre}}</div>
                            <div style="color: red;">{{ form.errors.nombre.as_text}}</div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col">
                            <label>Apellidos</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div>{{ form.apellidos}}</div>
                            <div style="color: red;">{{ form.errors.apellidos.as_text}}</div>    
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col">
                            <label>Dieta o intolerancia</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div>{{form.dieta}}</div>
                            <div style="color: red;">{{ form.errors.dieta.as_text}}</div>
                        </div>
                    </div>
                    <div class="row mt-5 mb-5">
                        <div class="col-auto m-auto" style="justify-content: center;">
                            <button type="submit" class="save btn btn-warning">Actualizar</button>
                        </div>
                    </div>
                </div>
            </form>   
        </div>
    </div>
</div>
{% endblock %}

