<!DOCTYPE html>
<html lang="en">
<head>
  <title>Eatsy - {% block titulo %} {% endblock %}</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <title>{% block title %}Eatsy!{% endblock %}</title>
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
  <link type="text/css" rel="stylesheet" href="{% static 'estilo/style.css' %}" />
  <style>
  #page-container {
  position: relative;
  min-height: 93vh;
}

#content-wrap {
  padding-bottom: 2.5rem;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}
</style>
</head>
<body>

<!-- Navbar -->
<div class="navbar">
  <!-- Navbar -->
  <div>
    <b-navbar toggleable="lg" type="dark" variant="primary">
    <b-navbar-brand href="/">
        <img src="{% static 'img/Logo_texto_derecha.png' %}" alt="Close modal" />
    </b-navbar-brand>
</div>
  <div>
      <!-- Search -->
      <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
  </div>

      <!-- Collapse -->

<b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
  <div>
      <b-navbar-nav>
          <b-nav-item href="/user/perfil/" v-if="user != null">Mi perfil</b-nav-item>
          <b-nav-item href="/product/list/" v-if="user != null && user.is_staff">Productos</b-nav-item>
          <b-nav-item href="/user/logout" v-if="user != null && user.is_staff">Cerrar sesión</b-nav-item>
      </b-navbar-nav>
  </div>
</div>

<div id="page-container">
  <div id="content-wrap">
    {% block contenido %} {% endblock %}
  </div>
  <footer id="footer">
    <div class="container text-center">
      <p class="text-muted mb-0 py-2">© 2021 Eatsy All rights reserved.</p>
    </div>
  </footer>
</div>

</body>
</html>
