{% load static %}
<!DOCTYPE html> {% load static %}
<html lang="en">

<head>
    {% block head %}{% endblock %}
    <title>Eatsy - {% block titulo %} {% endblock %}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>{% block title %}Eatsy!{% endblock %}</title>
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
    <link type="text/css" rel="stylesheet" href="{% static 'estilo/style.css' %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="shortcut icon" href="{% static 'img/logo.png' %}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oxygen">

    <style>
        @media (max-width: 676px) {
            .bloques {
                background-image: url("{% static 'estilo/fondocard.png' %}");
            }
        }
        
        @media (max-width: 1035px) {
            #barprincipal {
                display: none;
            }
            #menuMovil {
                display: block;
            }
        }
    </style>
</head>

<body>

    <!-- Navbar -->
    <div id="barprincipal" class="navbar">
        <!-- MENU PARA ORDENADOR -->
        <b-navbar-brand href="/">
            {% if request.user.perfil.activeAccount %}
            <a href="/product/list"><img id="menuNormal" class="imgheader" src="{% static 'img/logoheader.png' %}"></a>
            {% else %}
            <a href="/"><img id="menuNormal" class="imgheader" src="{% static 'img/logoheader.png' %}"></a>
            {% endif %}
        </b-navbar-brand>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        {% if user.is_superuser %}
        <a id="menuNormal" class="btn btn-dark botonNav" href="/product/report/list" role="button">Revisar reportes</a> {% endif %}
        <a id="menuNormal" class="btn btn-dark botonNav" href="/product/list" role="button">Lista de productos</a>
        <div id="menuNormal" class="dropdown show botonNav">
            <a class="btn dropdown-toggle botonNav" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Mi cuenta
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="/authentication/profile">Mi Perfil</a>
                <a class="dropdown-item" href="/shoppingList/">Mi Lista</a>
                <a class="dropdown-item" href="/authentication/logout">Cerrar sesión</a>
            </div>
        </div>
    </div>

    <!-- MENU PARA EL MOVIL -->
    <div id="menuMovil" class="collapse navbar navbar-collapse navbar-ex1-collapse ">
        <div class="row justify-content-center">
            <b-navbar-brand href="/">
                <a href="/"><img class="imgheader" src="{% static 'img/logoheader.png' %}"></a>
            </b-navbar-brand>
        </div>
        <ul class="nav navbar-nav mt-2">
            <a href="#" class="dropdown-toggle btn btn-menu botonNav" data-toggle="dropdown">
                Menú <b class="caret"></b>
            </a>
            <div style="background-color: #7F6000" class="dropdown-menu ">
                {% if user.is_superuser %}
                <a style="color: white"  class="btn btn-menus  col-12" href="/product/report/list" role="button">Revisar reportes</a> {% endif %}
                <a style="color: white"  class="btn btn-menus col-12" href="/product/list" role="button">Lista de productos</a>
                <a style="color: white; background-color: #5e4702;"  class="btn   dropdown show dropdown-toggle col-12" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Mi cuenta
                </a>
                <div style="background-color: #5e4702;border: none;" class="dropdown-menu col-12" aria-labelledby="dropdownMenuLink">
                    <a style="color: white" class="dropdown-item col-12 text-center" href="/authentication/profile">Mi Perfil</a>
                    <a style="color: white" class="dropdown-item col-12 text-center" href="/shoppingList/">Mi Lista</a>
                    <a style="color: white" class="dropdown-item col-12 text-center" href="/authentication/logout">Cerrar sesión</a>
                </div>
            </div>
        </ul>
    </div>

    <div id="page-container">
        <div id="content-wrap">
            {% block contenido %} {% endblock %}
        </div>

        <!-- Footer -->
        <div id="bloqueFooter" class="mt-5">
            <!-- MENU PARA ORDENADORES -->
            <div class="container">
                <div id="footer-main">
                    <footer id="footer">
                        <img class="imgfooter col-lg-3 col-md-4 col-sm-6 col-10" src="{% static 'img/footer.png' %}">
                        <div class="container text-center">
                            <p class="text-muted mb-0 py-2">© 2021 Eatsy All rights reserved.</p>
                        </div>
                        <div>
                            <div class="row justify-content-center">
                                <div class="col-sm-2 mb-2" style="padding: 0%; text-align: center;">
                                    <a style="font-size: 1rem; color: #7F6000;" href="/aboutUs/"><u>Sobre nosotros</u></a>
                                </div>
                                <div class="col-sm-2 mb-2" style="padding: 0%; text-align: center;">
                                    <a style="font-size: 1rem; color: #7F6000;" href="/contactUs/"><u>Contáctanos</u></a>
                                </div>
                                <div class="col-sm-3" style="padding: 0%; text-align: center;">
                                    <a style="font-size: 1rem; color: #7F6000;" href="/privacyPolicy/"><u>Políticas de privacidad</u></a>
                                </div>
                            </div>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</body>

</html>



<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>