{% load static %}

<!doctype html>
<html lang="en">

<head>
    <meta name="description" content="Página principal que verán los usuarios de la aplicación al entrar."></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="shortcut icon" href="{% static 'img/logo.png' %}" />
    <link type="text/css" rel="stylesheet" href="{% static 'estilo/style.css' %}" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oxygen">
    <style>
        @media (max-width: 676px) {
            .bloques {
                background-image: url("{% static 'estilo/fondocard.png' %}");
            }
        }
    </style>
</head>

<body>
    <div id="barprincipal" class="navbar">
        <b-navbar-brand href="/" style="margin-right: 0px !important;">
            <a href="/"><img id="menuNormal" class="imgheader" src="{% static 'img/logoheader.png' %}" style="display: inline;"></a>
        </b-navbar-brand>
        <div class="topnav-right">
            {% if request.user.is_authenticated == True and request.user.perfil.activeAccount == True %}
            <a style="height: 50px;" class="btn btn-warning btn-lg" href="/product/list">Accede a la aplicación</a> {% elif request.user.is_authenticated == True and request.user.perfil.activeAccount == False %}
            <a style="height: 50px;" class="btn btn-warning btn-lg" href="/authentication/create-subscription">Subscribirse</a> {% else %}
            <a style="height: 50px;" class="btn btn-warning btn-lg" href="/authentication/signup">Registrarse</a>&nbsp;
            <a style="height: 50px;" class="btn btn-warning btn-lg" href="/authentication/login">Iniciar sesión</a> {% endif %}
        </div>
        <script type="text/javascript">
        </script>
    </div>

    <!-- MENU PARA EL MOVIL -->
    <div id="menuMovil" class="collapse navbar navbar-collapse navbar-ex1-collapse ">
        <div class="row justify-content-center">
            <b-navbar-brand href="/">
                <a href="/"><img class="imgheader" src="{% static 'img/logoheader.png' %}"></a>
            </b-navbar-brand>
        </div>
        <ul class="nav navbar-nav mt-2">
            <a href="#"  style="background-color: #7F6000; color: white;" class="dropdown-toggle btn  botonNav" data-toggle="dropdown">
                Menú <b class="caret"></b>
            </a>
            <div style="background-color: #7F6000" class="dropdown-menu ">
                <div class="topnav-right">
                    {% if request.user.is_authenticated == True and request.user.perfil.activeAccount == True %}
                    <a style="height: 50px; color: white;" class="btn col-12" href="/product/list">Accede a la aplicación</a> {% elif request.user.is_authenticated == True and request.user.perfil.activeAccount == False %}
                  <a style="height: 50px; color: white;" class="btn col-12" href="/authentication/create-subscription">Subscribirse</a> {% else %}
                    <a style="height: 50px; color: white;" class="btn col-12" href="/authentication/signup">Registrarse</a>&nbsp;
                    <a style="height: 50px; color: white;" class="btn col-12" href="/authentication/login">Iniciar sesión</a> {% endif %}
                </div>
            </div>
        </ul>
    </div>

    <div class="bloques">
        <div id="bloque1" class="mt-5 mb-5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="titleblock col-12">
                        ¡Bienvenidos a Eatsy!
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-3 col-6">
                        <img class="comida" src="{% static 'img/comida.png' %}"></img>
                    </div>
                    <div id="bodyblock1" class="bodyblock col-md-5">
                        Eatsy es un punto de encuentro para personas con necesidades alimentarias específicas en el que poder compartir productos, encontrar dónde adquirirlos, así como sus experiencias personales para hacer la vida más deliciosa.
                    </div>
                </div>
            </div>
        </div>

        <div id="bloqueCarrusel" class="mt-5 mb-5">
            <div class="container">
                <div style="width:100%;" class="product-card-inner">
                    <div class="row justify-content-center">
                        <div class="col-12">
                            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
                                </ol>
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img class="d-block w-100" src="{% static 'img/listadoProducto.jpg' %}" alt="Listado de productos">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="{% static 'img/filtro.jpg' %}" alt="Filtrado de productos">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="{% static 'img/descripcion.jpg' %}" alt="Descripción de un producto">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="{% static 'img/comentarios.jpg' %}" alt="Comentarios de un producto">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="{% static 'img/ubicacion.jpg' %}" alt="Ubicaciones de un producto">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="{% static 'img/recetas.jpg' %}" alt="Recetas de un producto">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="{% static 'img/recetita.jpg' %}" alt="Receta">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="{% static 'img/milista.jpg' %}" alt="Lista de la compra">
                                    </div>
                                </div>
                                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="bloque2" class="mt-5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-sm-5 mr-2">
                        <div class="row-fluid text-center nombreProducto mt-2">
                            <img style="width: inherit; max-width: 100%;" class="m-auto product-img-list borde" src="{% static 'img/comiendo.png' %}" alt="Prueba gratis 1 mes">
                        </div>

                        <div class="row-fluid text-center nombreProducto mb-4">
                            <p>Al registrarte por primera vez obtén un mes de prueba totalmente GRATIS</p>
                        </div>

                        <div class="row-fluid text-center nombreProducto">
                            <p>Cancela cuando quieras</p>
                        </div>
                    </div>

                    <div class="col-sm-5 ml-2">
                        <div class="row-fluid text-center nombreProducto mt-2">
                            <img style="width: inherit; max-width: 100%;" class="m-auto product-img-list borde" src="{% static 'img/familia.png' %}" alt="Suscripción">
                        </div>

                        <div class="row-fluid text-center nombreProducto">
                            <p>Puedes pertenecer a nuestra comunidad</p>
                        </div>

                        <div class="row-fluid text-center nombreProducto mb-3">
                            <p>por solo 1.99€ al mes</p>
                        </div>

                        <div class="row-fluid text-center nombreProducto">
                            <p>¿A qué esperas?</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="bloqueFooter" class="mt-5">
            <div class="container">
                <div id="footer-main">
                    <footer id="footer">
                        <img class="imgfooter col-lg-3 col-md-4 col-sm-6 col-10" src="{% static 'img/footer.png' %}">
                        <div class="container text-center">
                            <p class="text-muted mb-0 py-2">© 2021 Eatsy All rights reserved.</p>
                        </div>
                        <div>
                            <div class="row justify-content-center">
                                <div class="col-sm-2 mb-2" style="padding: 0%; text-align: center;">
                                    <a style="font-size: 1rem; color: #7F6000;" href="/aboutUs/"><u>Sobre nosotros</u></a>
                                </div>
                                <div class="col-sm-2 mb-2" style="padding: 0%; text-align: center;">
                                    <a style="font-size: 1rem; color: #7F6000;" href="/contactUs/"><u>Contáctanos</u></a>
                                </div>
                                <div class="col-sm-3" style="padding: 0%; text-align: center;">
                                    <a style="font-size: 1rem; color: #7F6000;" href="/privacyPolicy/"><u>Políticas de privacidad</u></a>
                                </div>
                            </div>
                        </div>
                    </footer>
                </div>
            </div>
        </div>

    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js " integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo " crossorigin="anonymous "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js " integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1 " crossorigin="anonymous "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js " integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM " crossorigin="anonymous "></script>
</body>

</html>